<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.triibe.triibeuserapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/westfield_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Meta data -->
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/google_api_key"/>
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/google_api_key"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Activities -->
        <activity android:name=".get_permissions.AuthUiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".get_permissions.GetPermissionsActivity">
        </activity>
        <activity
            android:name=".trackData.TrackDataActivity"
            android:label="@string/title_activity_track_data"/>
        <activity
            android:name=".view_surveys.ViewSurveysActivity"
            android:label="@string/title_activity_view_surveys"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".view_question.ViewQuestionActivity"
            android:label="@string/title_activity_take_survey"
            android:parentActivityName=".view_surveys.ViewSurveysActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.triibe.triibeuserapp.view_surveys.ViewSurveysActivity"/>
        </activity>
        <activity
            android:name=".edit_survey.EditSurveyActivity"
            android:label="@string/title_activity_edit_survey"
            android:parentActivityName=".view_surveys.ViewSurveysActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.triibe.triibeuserapp.view_surveys.ViewSurveysActivity"/>
        </activity>
        <activity
            android:name=".edit_question.EditQuestionActivity"
            android:label="@string/title_activity_edit_question"
            android:parentActivityName=".edit_survey.EditSurveyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.triibe.triibeuserapp.edit_survey.EditSurveyActivity"/>
        </activity>
        <activity
            android:name=".edit_option.EditOptionActivity"
            android:label="@string/title_activity_edit_option"
            android:parentActivityName=".edit_question.EditQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.triibe.triibeuserapp.edit_question.EditQuestionActivity"/>
        </activity>
        <activity
            android:name=".edit_trigger.EditTriggerActivity"
            android:label="@string/title_activity_edit_trigger"
        android:parentActivityName=".edit_survey.EditSurveyActivity"
        android:theme="@style/AppTheme.NoActionBar">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.triibe.triibeuserapp.edit_survey.EditSurveyActivity"/>
        </activity>
        <activity
        android:name=".view_points.ViewPointsActivity"
        android:label="@string/title_activity_view_points"
        android:parentActivityName=".view_surveys.ViewSurveysActivity"
        android:theme="@style/AppTheme.NoActionBar">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.triibe.triibeuserapp.view_surveys.ViewSurveysActivity"/>
        </activity>

        <!-- Services -->
        <service
        android:name=".util.RunAppWhenAtMallService"
        android:exported="false">
        </service>
        <service
        android:name=".track_location.AddFencesIntentService"
        android:exported="false">
        </service>
        <service
        android:name=".track_location.RemoveFenceIntentService"
        android:exported="false">
        </service>
        <service
        android:name=".util.StopTrackingIntentService"
        android:exported="false">
        </service>
        <service
        android:name=".track_location.GetCurrentLocationIntentService"
        android:exported="false">
        </service>

        <!-- Receivers -->
        <receiver android:name=".track_location.AddFencesIntentService$BootDetectionBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".track_location.AddFencesIntentService$fenceReceiver">
        </receiver>

        <!-- <service -->
        <!-- android:name=".util.FirebaseMessagingService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- <service -->
        <!-- android:name=".trackLocation.AddMallGeofencesIntentService" -->
        <!-- android:exported="false"> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name=".trackLocation.AddLandmarkGeofencesIntentService" -->
        <!-- android:exported="false"> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name=".trackLocation.MallGeofenceTransitionIntentService" -->
        <!-- android:exported="false"> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name=".trackLocation.LandmarkGeofenceTransitionIntentService" -->
        <!-- android:exported="false"> -->
        <!-- </service> -->


        <!-- <activity -->
        <!-- android:name=".trackLocation.MapsActivity" -->
        <!-- android:label="@string/title_activity_maps"> -->
        <!-- </activity> -->
        <!-- <activity android:name=".trackLocation.TrackLocationActivity"> -->
        <!-- </activity> -->


        <!--<service-->
        <!--android:name=".track_location.TrackRssiIntentService"-->
        <!--android:exported="false">-->
        <!--</service>-->


        <!-- <service -->
        <!-- android:name=".trackLocation.TrackLocationService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name=".trackLocation.DetectedActivitiesIntentService" -->
        <!-- android:exported="false"> -->
        <!-- </service> -->
        <!-- <service android:name=".trackLocation.AddGeofencesIntentServiceOLD"/> -->


        <!-- <provider -->
        <!-- android:name=".util.IndoorProvider" -->
        <!-- android:authorities="com.example.triibe.triibeuserapp.util.indoor" -->
        <!-- android:exported="true" -->
        <!-- android:readPermission="com.indoor.READ_CONTEXT_DATA" -->
        <!-- android:writePermission="com.indoor.WRITE_CONTEXT_DATA"> -->
        <!-- </provider> -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->


        <!-- <activity -->
        <!-- android:name=".edit_location.EditLocationActivity" -->
        <!-- android:label="@string/title_activity_edit_location" -->
        <!-- android:parentActivityName=".view_surveys.ViewSurveysActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.example.triibe.triibeuserapp.view_surveys.ViewSurveysActivityvity"/> -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name=".trackWIFI.IndoorMapActivity" -->
        <!-- android:label="@string/title_activity_maps"> -->
        <!-- </activity> -->
        <!-- <service -->
        <!-- android:name=".trackWIFI.TestMapsService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- </service> -->
        <!-- <activity -->
        <!-- android:name=".trackLocation.TestActivity" -->
        <!-- android:icon="@drawable/the_westfield_group_logo"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->


        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name=".takeSurvey.TakeSurveyActivity" -->
        <!-- android:label="@string/title_activity_take_survey" -->
        <!-- android:parentActivityName=".view_surveys.ViewSurveysActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.example.triibe.triibeuserapp.view_surveys.ViewSurveysActivity"/> -->
        <!-- </activity> -->
    </application>

</manifest>